<h4>Buscar: </h4>
<input type="text"
placeholder="Search.."
class="form-control"
(change)="search($event.target)"
>
<div class="stock-container">
  <ul class="content">
    <ng-container *ngIf="!(searchResults$ | async)?.length; else searchResultsTemplate">
      <li class="art" *ngFor="let article of articles$ | async" >
        <app-article-item [article]="article" (ArticleQuantityChange)="handleQuantityChange($event)"></app-article-item>
      </li>
    </ng-container>
    <ng-template #searchResultsTemplate>
      <li class="art" *ngFor="let article of searchResults$ | async">
        <app-article-item [article]="article" (ArticleQuantityChange)="handleQuantityChange($event)"></app-article-item>
      </li>
    </ng-template>
  </ul>
</div>
