<div class="stock-container">
  <div class="image"><img src="{{ article.imageUrl }}"></div>
  <div class="name"><h3> {{ article.name }} </h3></div>
  <div class="price" [ngClass]="{'available': !isOnSale(), 'positive': isOnSale()}">
    {{ article.price }} €
  </div>
  <div class="quantity" *ngIf="isOnSale()">
    <button (click)="rest()" [disabled]="checkQunatity()" [disabled]="!isOnSale()">-</button>
    {{ article.quantityInCart }}
    <button (click)="summ()" [disabled]="!isOnSale()">+</button>
  </div>
  <div class="stock">{{article.stock}} </div>
  <div [ngClass]="{'favorite': isFavorite(), 'nofavorite': !isFavorite()}">
    <img src="../../assets/star.jpg" alt="star as favorite" class="star">
  </div>
  <button (click)="onToggleFavorite()"
          *ngIf="!article.favorite" >Afegir a preferit </button>
  <button (click)="onToggleFavorite()"
          *ngIf="article.favorite">Eliminar de preferit</button>
</div>
